/* Helps centers the content  */
* {
    box-sizing: border-box;
}

div{
  display: block;
  unicode-bidi: isolate;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    line-height: 2;
    margin: 2rem;
    padding: 3rem;
    background-color: rgb(7, 65, 127);
    border: 2px solid gold;
}

h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: rgb(225, 184, 20) 1px 0 5px;
}

h2 {
    color: gold;
    filter: drop-shadow(10px 11px 1px #1a1a0a);
}


h3 {
    color:  gold;
    filter: drop-shadow(10px 11px 1px #1a1a0a);
    /* color: white; */
}
h4 {
    color:  gold;
    filter: drop-shadow(10px 11px 1px #1a1a0a);
    /* color: white; */
}

p, li, th, tr, footer {
    color: white;
}


h1, h2, h3
{
  padding-bottom: 1rem;
}

p, li, table, form
{
  font-size: 0.8rem;
}

table {
  border-collapse: collapse;
  border-top: 2px solid rgb(140 140 140);
  border-bottom: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

a
{
  text-decoration: none; /* Removing default underline from links */
  color: #55AACC; /* A slightly lighter shade for links for better distinction */
}

thead{
  letter-spacing: 4px;
}

.software .container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}



.image-container
{
  align-self: flex-start; /* Positions itself to the start of y-axis. */
  margin: 0 auto;
  /* Makes the image shape square. */
  width: 15rem;
  height: 15rem;
  position: relative;
}

img
{
  /* border: 2px dotted gold; */
  display: block;
  position: relative;
  left: px;
  /* Fits the image into the container div. */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%; /* Rounds the image. */

  object-fit: cover; /* Preserves the original aspect ratio. */
  object-position: 100% 20%; /* Makes the face visible moving the image down. */
}

.border-dotted
{
  border: 2px dotted #eaeaea;
}


form input,
form textarea,
form select
{
  color:gold;
  background-color: rgba(17, 93, 128, 0.385);
  border: 2px solid #000dff;
}

form input:hover,
form textarea:hover
{
  outline: none;
  background-color: rgba(238, 5, 5, 0.373);
  border: 2px solid #ff0000;
}

form button{
  padding: .5em 1em;
  margin-left: 1em;
  background-color: #0a6def;
  border: 2px solid #e712f6;
  
}



.contact .form-container
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .text-input-container,
.contact .select-container,
.contact .checkbox-container
{
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.contact .text-input-container label,
.contact .select-container label
{
  flex-grow: 2;
}

.contact .text-input-container input,
.contact .text-input-container textarea,
.contact .select-container select
{
  width: 21rem;
}

.contact .text-input-container textarea
{
  height: 5rem;
}

.contact .button-container
{
  display: flex;
  justify-content: flex-end;
}

.contact .button-container button[type=reset]
{
  margin-right: 1rem;
}
